body {
    background: #f4f4f4;
}

html,
body {
    height: 100%;
}

.topnavbarspace {
  margin-bottom: 4vh;
}

.ksiazkaForm{
  height: 115vh;
}

/*

.devBorder {
    border: 2px solid red;
}

.devListBorder {
    border: 2px solid green;
}

.devPostBorder {
    border: 5px solid blue;
}

.postBorder {
    border: 2px solid red;
    border-radius: 5px;
}
*/
